.main_chat
    .chat-header
        .chat-header__left-box
            %p.chat-header__left-box__group_id
                test
            %ul.chat-header__left-box__menbers_list
                menber:ueda
        .chat-header__right-box       
            %p.chat-header__right-box__edit_btn
                = link_to 'Edit', "#" 
    .chat-message
        %ul.messages
            %li.messages-main
                %li.messages-main__box
                    %p.messages-main__box__name
                        ueda
                    %p.messages-main__box__date
                        2019/2/21/(Sta)21:00:00
                %p.messages-main__text
                    こんばんは
        %ul.messages
            %li.messages-main
                %li.messages-main__box
                    %p.messages-main__box__name
                        ueda
                    %p.messages-main__box__date
                        2019/2/21/(Sta)21:00:00
                %p.messages-main__text
                    こんばんは
    .chat-footer
        %chat-footer.new__messege
            .input-box
                %input{type: "text", class: "input-box__text", placeholder: "type a message"}
                %label{class: "input-box__image"}
                    = icon('fas', 'image')
                    %input{type: "file", class: "input-box__image__file"}
            %input{type: "submit", value:"Send", class: "submit-btn"}
            
    
