.main_chat {
    background-color: #ffffff;
    height: 100%;
    width: calc(100vw - 300px);

    .chat-header {
        height: 100px;
        padding: 0 40px;
        font-size: 16px;
        position: relative;
        display: flex;
        &__left-box {
            margin: 35px 0 0;
            justify-content: space-between;
            &__group_id {
                color: #333333;
                margin: 0 0 15px;
                font-size:20px;
            }
            &__menbers_list {
                display: flex;
                color: #999999;
                font-size: 12px;
            }
        }
        &__right-box {
            &__edit_btn {
                display: flex;
                border: 1px solid #38aef0;
                line-height: 40px;
                height:40px;
                width:72px;
                position: absolute;
                right: 40px;
                margin-top: 30px;
                padding: 0 20px;
                    a {
                        color: #38aef0;
                        text-decoration: none;
                    }
            }     
        
        }
    }
  

    .chat-message {
        background-color: lightgreen;
        height: calc(100vh - 100px - 90px);
        padding: 35px 40px;
        overflow: scroll;
        .messages {
            padding-bottom: 46px;
            .messages-main {
                &__box {
                    display: flex;
                    margin-bottom: 12px;
                    &__name {
                        color: #333333;
                        font-size: 16px;
                    }
                    &__date {
                        font-size: 12px;
                        color: #999999;
                        margin-left: 10px;
                    }
                }
                &__text {
                    color: #434A54;
                    font-size: 14px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .chat-footer {
        background-color: #d2d2d2;
        height: 90px;
        padding: 20px 40px;
        display: flex;
        &__input-box {
            width: 100%;
            position: relative;
            display: flex;
            &__text {
                height: 50px;
                width: 100%;
                color: #434a54;
                border-style: none;
                padding: 0 40px 0 10px;
            }
            &__image {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                font-size: 1.3rem;
                &__file {
                    display: none;
                }
            }
        }
        &__submit-btn__send_btn {
            width:100px;
            height: 50px;
            padding: 0 30px;
            margin-left: 15px;
            background-color: #38aef0;
            display: flex;
            cursor: pointer;
            line-height: 50px;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}